.servers {
    width: auto;
    height: 500px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.formulario {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-top: 50px;
}

.mainTitle, .secondTitle {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}